  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  header {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  
  .products{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 3rem;
    margin-bottom: 6rem;;
    margin-top: 20px;
  }
  
  .card{
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5; 
    text-align: center;
    cursor: pointer; /* Add cursor style for hover effect */
  }
  

  .icard-img-top{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 60px;
  }

  .card-body{
    background-color: #f5f5f5;
  }
  
  .star{
    background-color: #ffffff;
  }
  
  
  .logob{
    width: 80px;
    height: auto;
  }
  
  .logo-name{
    width: 200px;
    height: auto;
  }
  
  .header-text {
    text-align: center;
    flex-grow: 1;
  }
  
  .header-text h1 {
    font-size: 24px;
    color: #333333;
    margin: 0;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icons .header-icon {
    width: 34px;
    height: 34px;
    margin-left: 12px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .header-icons .header-icon:hover {
    transform: scale(1.1);
  }
  
  
  a:link { 
    text-decoration: none; 
  }
  
  
  a:visited { 
  text-decoration: none; 
  }
  
  
  a:hover { 
  text-decoration: none; 
  }
  
  
  a:active { 
  text-decoration: none; 
  }
  
  
  body > footer {
    margin-top: 26px;
  }
  body > div > div > div:nth-child(1) > div > center > h3 {
    margin-top: 25px;
  }
  body > div > div {
    margin-top: 65px;
}
body > header > div.cart-icon > a {
  margin-right: -300px;
}

  
  