.header-icons .header-icon {
  width: 34px;
  height: 34px;
  margin-left: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.header-icons .header-icon:hover {
  transform: scale(1.1);
}


a:link { 
  text-decoration: none; 
}


a:visited { 
text-decoration: none; 
}


a:hover { 
text-decoration: none; 
}


a:active { 
text-decoration: none; 
}


body > footer {
  margin-top: 26px;
}
body > div > div > div:nth-child(1) > div > center > h3 {
  margin-top: 25px;
}
body > div > div {
  margin-top: 65px;
}
body > header > div.cart-icon > a {
margin-right: -300px;
}.header-icons .header-icon {
  width: 34px;
  height: 34px;
  margin-left: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.header-icons .header-icon:hover {
  transform: scale(1.1);
}


a:link { 
  text-decoration: none; 
}


a:visited { 
text-decoration: none; 
}


a:hover { 
text-decoration: none; 
}


a:active { 
text-decoration: none; 
}


body > footer {
  margin-top: 26px;
}
body > div > div > div:nth-child(1) > div > center > h3 {
  margin-top: 25px;
}
body > div > div {
  margin-top: 65px;
}
body > header > div.cart-icon > a {
margin-right: -300px;
}